.main {
    display: flex;
    .pages {
        display: flex;
        flex-direction: column;
        width: calc(100% - 35rem);
    }
}


@media screen and (max-width:64rem) {
    .main {
        display: flex;
        flex-direction: column-reverse;
        .pages {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            width: 100%;
        }
    }
}