.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    position: relative;
    min-height: 80vh;
    .backBtn {
        all: unset;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        position: absolute;
        left: 2rem;
        top: 2rem;
        background-color: #f8f8f8;
        border: 1px solid #E0E2E6;
        border-radius: 25px;
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.2rem;
        text-align: center;
    }
    .buttons {
        margin-top: auto;
        display: flex;
        gap: 1rem;
    }
}