.button {
    display: inline-block;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: var(--purpleColor);
    color: var(--whiteColor);
    border: 1px solid var(--purpleColor);
    &:hover {
        background-color: var(--whiteColor);
        color: var(--purpleColor);
        border: 1px solid var(--purpleColor);
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        &:hover {
            background-color: var(--purpleColor);
            color: var(--whiteColor);
            border: 1px solid var(--purpleColor);
        }
    }
}
.outline {
    display: inline-block;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: var(--whiteColor);
    color: var(--purpleColor);
    border: 1px solid var(--purpleColor);
    &:hover {
        background-color: var(--purpleColor);
        color: var(--whiteColor);
        border: 1px solid var(--purpleColor);
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        &:hover {
            background-color: var(--whiteColor);
            color: var(--purpleColor);
            border: 1px solid var(--purpleColor);
        }
    }
}