.section {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    .sectionHeader {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        h3 {
            font-size: 2rem;
            font-weight: bold;
        }
    }
    .container {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
       
       
    }
    
}

@media screen and (max-width:1024px) {
    .section {
     
        .sectionHeader {
          
            h3 {
                font-size: 1.5rem;
            }
        }
        .container {
            display: flex;
            gap: 1rem;
            overflow-x: auto;
            padding-bottom: 1rem;
        }
        
    }
}